# =====================================================================
# CLAHAN-ACADEMY TERRAFORM VARIABLES TEMPLATE
# =====================================================================

# The email address that will receive critical alerts and DR reports
admin_email = "admin@yourdomain.com"

# SMTP server credentials used by notification-service to send emails
smtp_host     = "smtp.gmail.com"
smtp_port     = "587"
smtp_password = "your-smtp-app-password" # Keep secure!

# Docker Hub account parameters
docker_username = "vignesh8386"
docker_password = "" # Leave empty if pulling public images without auth
